@media screen and (max-width:600px)
{div.menu {text-align: center; width:100%; height:25%;}
}

@media screen and (max-width:600px)
{div.baner { width:100%;  height:70%;}
}

ul{
margin:2%;
padding-left:20px;
list-style-type:none;
}

body {
	color: #2C2C2C;
	font: normal:100% Cambria, Georgia, serif;
	/* 16px - standart */
}

img {
	margin: auto 4%;
	max-width: 100%;

	float: left;
}

p {
	margin:3% 11% 3% 4%;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	color: blue;
	font-weight: normal;
}

h2 {
	text-align: center;
}

#bord {
	width: 90%;
	margin: 0 auto;
}

.head {
	width:100%;
	float: left;
	background: #b2e1ff;
}

.menu {
	background-color:yellow;
	clear: both;
	float: left;
	width: 25%;
	font-size: 90%;
	height: 95vmin;
	max-height:404px; 
}

.baner {
	background: white url(../img/ball.png) repeat-y 7.28476821192053% 0;
	background-position: right top;
	float:left;
	width: 75%;
 	height: 95vmin;
	max-height:404px;
}

.footer {
	float:right;
	background: #b2e1ff;
	width: 100%;
}
