div{
	width: 800px;
	height: 500px;
}

.text{
	font-family:Arial;
	font-size:34px;
	text-align:center;
	width: 600px;
	height: 350px;
	padding:85px 95px;
}
.topl{
	background-image:url(../img/topl.png);
	background-repeat: no-repeat;
}

.topr{
	background-image:url(../img/topr.png);
	background-repeat: no-repeat;
	background-position: top right;
}

.botl{
	background-image:url(../img/botl.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}

.botr{
	background-image:url(../img/botr.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.left{
	background-image:url(../img/vert.png);
	background-repeat: repeat-y;
}

.right{
	background-image:url(../img/vert.png);
	background-repeat: repeat-y;
	background-position: top right;
}
.top{
	background-image:url(../img/hor.png);
	background-repeat: repeat-x;
}
.bottom{
	background-image:url(../img/hor.png);
	background-repeat: repeat-x;
	background-position: bottom left;
}


