div {
    width: 60vmin;
    height:40vmin;
    background-color: red;
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    border-radius: 10vmin;
    position: absolute;
    left: 140px;
}
div:before {
    content:'';
    display:block;
    width: 10vmin;
    height:10vmin;
    background-color: red;
    border-style: none none dashed dashed;
    border-width: 2px;
    transform: skew(-45deg);
    margin-top: 15vmin;
    margin-left: -5vmin;
    
}
