.nev{
	padding:5px;
	width: 320px;
	border:3px solid black;
	position:relative;
	top:20px;
	left:500px;
	transform: rotate(10deg);
}

.nev img{
width: 100%
}

.name{
	text-align: center; 
	font-size:40px;
}

.dia {
	font-size:40px;
	text-align: center;
    width: 400px;
    height:200px;
    background: white;
    border:2px dashed black;
    border-radius: 10vmin;
    position: absolute;
    left: 200px;
    top:120px;
    line-height:460%;
}
.dia:before {
    content:'';
    display:block;
    position:absolute;
    width: 30px;
    height:30px;
    background: white;
    border-style: dashed dashed none none;
    border-width: 2px;
    transform: skew(-45deg);
    margin-top: 45px;
    margin-left: 94%;
    
}

.left{
	float:left;
	position: relative;
	border:20px solid blue;
	border-style: none none solid solid;
	width: 50px;
	height: 50px;
	transform: rotate(45deg);

}

.right{
	position: relative;
	float:left;
	border:20px solid blue;
	border-style: solid solid none none;
	width: 50px;
	height: 50px;
	transform: rotate(45deg);

}