div {
    width: ;
    height: 16px
}
    
.row {
   width: 50px;
   height: 80px;
}
   
.col1{
    float:left;
}

.col2{
    float:left;
}
.col3{
    float:left;
}

.left {
    float:left;
}

.right{
   float:right; 
}
    

.row{
    clear:both;
}

.clear{
    clear:both;
}

.ml{
    margin-left: -8px;
}
.ml-2{
    margin-left: -16px;
}

.mr{text-align: right;
      margin-right: -8px;
}

.mr-2{text-align: right;
      margin-right: -16px;
}
.bot{
    margin-bottom:-25px;
}


    

    
